openapi: 3.1.0
info:
  title: Amazon EKS Addons API
  description: Amazon Elastic Kubernetes Service (Amazon EKS) is a managed Kubernetes service that makes it easy to run Kubernetes on AWS without needing to install, operate, and maintain your own Kubernetes control plane or nodes.
  version: '2017-11-01'
  contact:
    name: Amazon Web Services
    url: https://aws.amazon.com/eks/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://eks.amazonaws.com
  description: Amazon EKS API
tags:
- name: Addons
  description: Operations for managing EKS add-ons
paths:
  /clusters/{name}/addons:
    post:
      operationId: CreateAddon
      summary: Amazon EKS Create an EKS Add-on
      description: Creates an Amazon EKS add-on. Amazon EKS add-ons help to automate the provisioning and lifecycle management of common operational software for Amazon EKS clusters.
      tags:
      - Addons
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
        example: example-resource-name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAddonRequest'
            examples:
              CreateAddonRequestExample:
                summary: Default CreateAddon request
                x-microcks-default: true
                value:
                  addonName: example-resource-name
                  addonVersion: 5.0.0
                  serviceAccountRoleArn: arn:aws:service:us-east-1:123456789012:resource/example
                  resolveConflicts: OVERWRITE
                  tags: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAddonResponse'
              examples:
                CreateAddon200Example:
                  summary: Default CreateAddon 200 response
                  x-microcks-default: true
                  value:
                    addon: example-string
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '409':
          description: Conflict
        '429':
          description: Too many requests
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: ListAddons
      summary: Amazon EKS List EKS Add-ons
      description: Lists the available add-ons for an Amazon EKS cluster.
      tags:
      - Addons
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
        example: example-resource-name
      - name: maxResults
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
        example: 1
      - name: nextToken
        in: query
        schema:
          type: string
        example: example-string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAddonsResponse'
              examples:
                ListAddons200Example:
                  summary: Default ListAddons 200 response
                  x-microcks-default: true
                  value:
                    addons:
                    - example-string
                    nextToken: example-string
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '429':
          description: Too many requests
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /clusters/{name}/addons/{addonName}:
    get:
      operationId: DescribeAddon
      summary: Amazon EKS Describe an EKS Add-on
      description: Describes an Amazon EKS add-on.
      tags:
      - Addons
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
        example: example-resource-name
      - name: addonName
        in: path
        required: true
        schema:
          type: string
        example: example-resource-name
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeAddonResponse'
              examples:
                DescribeAddon200Example:
                  summary: Default DescribeAddon 200 response
                  x-microcks-default: true
                  value:
                    addon: example-string
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '429':
          description: Too many requests
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: DeleteAddon
      summary: Amazon EKS Delete an EKS Add-on
      description: Deletes an Amazon EKS add-on.
      tags:
      - Addons
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
        example: example-resource-name
      - name: addonName
        in: path
        required: true
        schema:
          type: string
        example: example-resource-name
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAddonResponse'
              examples:
                DeleteAddon200Example:
                  summary: Default DeleteAddon 200 response
                  x-microcks-default: true
                  value:
                    addon: example-string
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '409':
          description: Conflict
        '429':
          description: Too many requests
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ListAddonsResponse:
      type: object
      properties:
        addons:
          type: array
          items:
            type: string
          example:
          - example-string
        nextToken:
          type: string
          example: example-string
    DeleteAddonResponse:
      type: object
      properties:
        addon:
          $ref: '#/components/schemas/Addon'
    DescribeAddonResponse:
      type: object
      properties:
        addon:
          $ref: '#/components/schemas/Addon'
    CreateAddonRequest:
      type: object
      required:
      - addonName
      properties:
        addonName:
          type: string
          example: example-resource-name
        addonVersion:
          type: string
          example: 5.0.0
        serviceAccountRoleArn:
          type: string
          example: arn:aws:service:us-east-1:123456789012:resource/example
        resolveConflicts:
          type: string
          enum:
          - OVERWRITE
          - NONE
          example: OVERWRITE
        tags:
          type: object
          additionalProperties:
            type: string
          example: {}
    CreateAddonResponse:
      type: object
      properties:
        addon:
          $ref: '#/components/schemas/Addon'
    Addon:
      type: object
      properties:
        addonName:
          type: string
          description: The name of the add-on.
          example: example-resource-name
        addonVersion:
          type: string
          description: The version of the add-on.
          example: 5.0.0
        addonArn:
          type: string
          description: The Amazon Resource Name (ARN) of the add-on.
          example: arn:aws:service:us-east-1:123456789012:resource/example
        clusterName:
          type: string
          description: The name of the cluster.
          example: example-cluster-01
        status:
          type: string
          enum:
          - CREATING
          - ACTIVE
          - CREATE_FAILED
          - UPDATING
          - DELETING
          - DELETE_FAILED
          - DEGRADED
          description: The status of the add-on.
          example: CREATING
        serviceAccountRoleArn:
          type: string
          description: The Amazon Resource Name (ARN) of the IAM role.
          example: arn:aws:service:us-east-1:123456789012:resource/example
        tags:
          type: object
          additionalProperties:
            type: string
          description: Metadata that assists with categorization and organization.
          example: {}
        createdAt:
          type: string
          format: date-time
          description: The Unix epoch timestamp at object creation.
          example: '2025-03-15T14:30:00Z'
        modifiedAt:
          type: string
          format: date-time
          description: The Unix epoch timestamp for the last modification.
          example: '2025-03-15T14:30:00Z'
