openapi: 3.1.0
info:
  title: Amazon EKS Addons Fargate Profiles API
  description: Amazon Elastic Kubernetes Service (Amazon EKS) is a managed Kubernetes service that makes it easy to run Kubernetes on AWS without needing to install, operate, and maintain your own Kubernetes control plane or nodes.
  version: '2017-11-01'
  contact:
    name: Amazon Web Services
    url: https://aws.amazon.com/eks/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://eks.amazonaws.com
  description: Amazon EKS API
tags:
- name: Fargate Profiles
  description: Operations for managing EKS Fargate profiles
paths:
  /clusters/{name}/fargate-profiles:
    post:
      operationId: CreateFargateProfile
      summary: Amazon EKS Create a Fargate Profile
      description: Creates an AWS Fargate profile for your Amazon EKS cluster. You must have at least one Fargate profile in a cluster to be able to run pods on Fargate.
      tags:
      - Fargate Profiles
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
        example: example-resource-name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFargateProfileRequest'
            examples:
              CreateFargateProfileRequestExample:
                summary: Default CreateFargateProfile request
                x-microcks-default: true
                value:
                  fargateProfileName: example-resource-name
                  podExecutionRoleArn: arn:aws:service:us-east-1:123456789012:resource/example
                  subnets:
                  - example-string
                  selectors:
                  - example-string
                  tags: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFargateProfileResponse'
              examples:
                CreateFargateProfile200Example:
                  summary: Default CreateFargateProfile 200 response
                  x-microcks-default: true
                  value:
                    fargateProfile: example-string
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '409':
          description: Conflict
        '429':
          description: Too many requests
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: ListFargateProfiles
      summary: Amazon EKS List Fargate Profiles
      description: Lists the AWS Fargate profiles associated with the specified cluster.
      tags:
      - Fargate Profiles
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
        example: example-resource-name
      - name: maxResults
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
        example: 1
      - name: nextToken
        in: query
        schema:
          type: string
        example: example-string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFargateProfilesResponse'
              examples:
                ListFargateProfiles200Example:
                  summary: Default ListFargateProfiles 200 response
                  x-microcks-default: true
                  value:
                    fargateProfileNames:
                    - example-resource-name
                    nextToken: example-string
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '429':
          description: Too many requests
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /clusters/{name}/fargate-profiles/{fargateProfileName}:
    get:
      operationId: DescribeFargateProfile
      summary: Amazon EKS Describe a Fargate Profile
      description: Returns descriptive information about an AWS Fargate profile.
      tags:
      - Fargate Profiles
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
        example: example-resource-name
      - name: fargateProfileName
        in: path
        required: true
        schema:
          type: string
        example: example-resource-name
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeFargateProfileResponse'
              examples:
                DescribeFargateProfile200Example:
                  summary: Default DescribeFargateProfile 200 response
                  x-microcks-default: true
                  value:
                    fargateProfile: example-string
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '429':
          description: Too many requests
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: DeleteFargateProfile
      summary: Amazon EKS Delete a Fargate Profile
      description: Deletes an AWS Fargate profile.
      tags:
      - Fargate Profiles
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
        example: example-resource-name
      - name: fargateProfileName
        in: path
        required: true
        schema:
          type: string
        example: example-resource-name
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFargateProfileResponse'
              examples:
                DeleteFargateProfile200Example:
                  summary: Default DeleteFargateProfile 200 response
                  x-microcks-default: true
                  value:
                    fargateProfile: example-string
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '409':
          description: Conflict
        '429':
          description: Too many requests
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CreateFargateProfileResponse:
      type: object
      properties:
        fargateProfile:
          $ref: '#/components/schemas/FargateProfile'
    FargateProfileSelector:
      type: object
      properties:
        namespace:
          type: string
          description: The Kubernetes namespace that the selector should match.
          example: example-resource-name
        labels:
          type: object
          additionalProperties:
            type: string
          description: The Kubernetes labels that the selector should match.
          example: {}
    DescribeFargateProfileResponse:
      type: object
      properties:
        fargateProfile:
          $ref: '#/components/schemas/FargateProfile'
    CreateFargateProfileRequest:
      type: object
      required:
      - fargateProfileName
      - podExecutionRoleArn
      - selectors
      properties:
        fargateProfileName:
          type: string
          example: example-resource-name
        podExecutionRoleArn:
          type: string
          example: arn:aws:service:us-east-1:123456789012:resource/example
        subnets:
          type: array
          items:
            type: string
          example:
          - example-string
        selectors:
          type: array
          items:
            $ref: '#/components/schemas/FargateProfileSelector'
          example:
          - example-string
        tags:
          type: object
          additionalProperties:
            type: string
          example: {}
    FargateProfile:
      type: object
      properties:
        fargateProfileName:
          type: string
          description: The name of the Fargate profile.
          example: example-resource-name
        fargateProfileArn:
          type: string
          description: The full Amazon Resource Name (ARN) of the Fargate profile.
          example: arn:aws:service:us-east-1:123456789012:resource/example
        clusterName:
          type: string
          description: The name of the cluster the Fargate profile is associated with.
          example: example-cluster-01
        status:
          type: string
          enum:
          - CREATING
          - ACTIVE
          - DELETING
          - CREATE_FAILED
          - DELETE_FAILED
          description: The current status of the Fargate profile.
          example: CREATING
        podExecutionRoleArn:
          type: string
          description: The Amazon Resource Name (ARN) of the pod execution role.
          example: arn:aws:service:us-east-1:123456789012:resource/example
        subnets:
          type: array
          items:
            type: string
          description: The IDs of subnets to launch pods into.
          example:
          - example-string
        selectors:
          type: array
          items:
            $ref: '#/components/schemas/FargateProfileSelector'
          description: The selectors to match for pods to use this Fargate profile.
          example:
          - example-string
        tags:
          type: object
          additionalProperties:
            type: string
          description: Metadata that assists with categorization and organization.
          example: {}
        createdAt:
          type: string
          format: date-time
          description: The Unix epoch timestamp at object creation.
          example: '2025-03-15T14:30:00Z'
    DeleteFargateProfileResponse:
      type: object
      properties:
        fargateProfile:
          $ref: '#/components/schemas/FargateProfile'
    ListFargateProfilesResponse:
      type: object
      properties:
        fargateProfileNames:
          type: array
          items:
            type: string
          example:
          - example-resource-name
        nextToken:
          type: string
          example: example-string
