openapi: 3.1.0
info:
  title: Amazon EKS API
  description: >-
    Amazon Elastic Kubernetes Service (Amazon EKS) is a managed Kubernetes
    service that makes it easy to run Kubernetes on AWS without needing to
    install, operate, and maintain your own Kubernetes control plane or nodes.
  version: '2017-11-01'
  contact:
    name: Amazon Web Services
    url: https://aws.amazon.com/eks/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://eks.amazonaws.com
    description: Amazon EKS API

paths:

  /clusters:
    post:
      operationId: CreateCluster
      summary: Amazon EKS Create a new EKS cluster
      description: >-
        Creates an Amazon EKS control plane. The Amazon EKS control plane
        consists of control plane instances that run the Kubernetes software,
        such as etcd and the API server.
      tags:
        - Clusters
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClusterRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClusterResponse'
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '409':
          description: Conflict
        '429':
          description: Too many requests
        '500':
          description: Internal server error
    get:
      operationId: ListClusters
      summary: Amazon EKS List EKS clusters
      description: Lists the Amazon EKS clusters in your AWS account in the specified Region.
      tags:
        - Clusters
      parameters:
        - name: maxResults
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: nextToken
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListClustersResponse'
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '429':
          description: Too many requests
        '500':
          description: Internal server error

  /clusters/{name}:
    get:
      operationId: DescribeCluster
      summary: Amazon EKS Describe an EKS cluster
      description: >-
        Returns descriptive information about an Amazon EKS cluster.
      tags:
        - Clusters
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeClusterResponse'
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '429':
          description: Too many requests
        '500':
          description: Internal server error
    delete:
      operationId: DeleteCluster
      summary: Amazon EKS Delete an EKS cluster
      description: >-
        Deletes the Amazon EKS cluster control plane. You must delete all
        node groups and Fargate profiles before deleting a cluster.
      tags:
        - Clusters
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteClusterResponse'
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '409':
          description: Conflict
        '429':
          description: Too many requests
        '500':
          description: Internal server error

  /clusters/{name}/node-groups:
    post:
      operationId: CreateNodegroup
      summary: Amazon EKS Create a managed node group
      description: >-
        Creates a managed node group for an Amazon EKS cluster. You can only
        create a node group for your cluster that is equal to the current
        Kubernetes version for the cluster.
      tags:
        - Node Groups
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNodegroupRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateNodegroupResponse'
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '409':
          description: Conflict
        '429':
          description: Too many requests
        '500':
          description: Internal server error
    get:
      operationId: ListNodegroups
      summary: Amazon EKS List managed node groups
      description: Lists the managed node groups associated with the specified cluster.
      tags:
        - Node Groups
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: maxResults
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: nextToken
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNodegroupsResponse'
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '429':
          description: Too many requests
        '500':
          description: Internal server error

  /clusters/{name}/node-groups/{nodegroupName}:
    get:
      operationId: DescribeNodegroup
      summary: Amazon EKS Describe a managed node group
      description: Returns descriptive information about a managed node group.
      tags:
        - Node Groups
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: nodegroupName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeNodegroupResponse'
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '429':
          description: Too many requests
        '500':
          description: Internal server error
    delete:
      operationId: DeleteNodegroup
      summary: Amazon EKS Delete a managed node group
      description: Deletes an Amazon EKS managed node group for a cluster.
      tags:
        - Node Groups
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: nodegroupName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteNodegroupResponse'
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '409':
          description: Conflict
        '429':
          description: Too many requests
        '500':
          description: Internal server error

  /clusters/{name}/fargate-profiles:
    post:
      operationId: CreateFargateProfile
      summary: Amazon EKS Create a Fargate profile
      description: >-
        Creates an AWS Fargate profile for your Amazon EKS cluster. You must
        have at least one Fargate profile in a cluster to be able to run pods
        on Fargate.
      tags:
        - Fargate Profiles
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFargateProfileRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFargateProfileResponse'
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '409':
          description: Conflict
        '429':
          description: Too many requests
        '500':
          description: Internal server error
    get:
      operationId: ListFargateProfiles
      summary: Amazon EKS List Fargate profiles
      description: Lists the AWS Fargate profiles associated with the specified cluster.
      tags:
        - Fargate Profiles
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: maxResults
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: nextToken
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFargateProfilesResponse'
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '429':
          description: Too many requests
        '500':
          description: Internal server error

  /clusters/{name}/fargate-profiles/{fargateProfileName}:
    get:
      operationId: DescribeFargateProfile
      summary: Amazon EKS Describe a Fargate profile
      description: Returns descriptive information about an AWS Fargate profile.
      tags:
        - Fargate Profiles
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: fargateProfileName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeFargateProfileResponse'
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '429':
          description: Too many requests
        '500':
          description: Internal server error
    delete:
      operationId: DeleteFargateProfile
      summary: Amazon EKS Delete a Fargate profile
      description: Deletes an AWS Fargate profile.
      tags:
        - Fargate Profiles
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: fargateProfileName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFargateProfileResponse'
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '409':
          description: Conflict
        '429':
          description: Too many requests
        '500':
          description: Internal server error

  /clusters/{name}/addons:
    post:
      operationId: CreateAddon
      summary: Amazon EKS Create an EKS add-on
      description: >-
        Creates an Amazon EKS add-on. Amazon EKS add-ons help to automate the
        provisioning and lifecycle management of common operational software
        for Amazon EKS clusters.
      tags:
        - Addons
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAddonRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAddonResponse'
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '409':
          description: Conflict
        '429':
          description: Too many requests
        '500':
          description: Internal server error
    get:
      operationId: ListAddons
      summary: Amazon EKS List EKS add-ons
      description: Lists the available add-ons for an Amazon EKS cluster.
      tags:
        - Addons
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: maxResults
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: nextToken
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAddonsResponse'
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '429':
          description: Too many requests
        '500':
          description: Internal server error

  /clusters/{name}/addons/{addonName}:
    get:
      operationId: DescribeAddon
      summary: Amazon EKS Describe an EKS add-on
      description: Describes an Amazon EKS add-on.
      tags:
        - Addons
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: addonName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeAddonResponse'
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '429':
          description: Too many requests
        '500':
          description: Internal server error
    delete:
      operationId: DeleteAddon
      summary: Amazon EKS Delete an EKS add-on
      description: Deletes an Amazon EKS add-on.
      tags:
        - Addons
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: addonName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAddonResponse'
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '409':
          description: Conflict
        '429':
          description: Too many requests
        '500':
          description: Internal server error

components:
  schemas:

    Cluster:
      type: object
      properties:
        name:
          type: string
          description: The name of the cluster.
        arn:
          type: string
          description: The Amazon Resource Name (ARN) of the cluster.
        createdAt:
          type: string
          format: date-time
          description: The Unix epoch timestamp at object creation.
        version:
          type: string
          description: The Kubernetes server version for the cluster.
        endpoint:
          type: string
          description: The endpoint for your Kubernetes API server.
        roleArn:
          type: string
          description: The Amazon Resource Name (ARN) of the IAM role.
        resourcesVpcConfig:
          $ref: '#/components/schemas/VpcConfigResponse'
        kubernetesNetworkConfig:
          $ref: '#/components/schemas/KubernetesNetworkConfigResponse'
        logging:
          $ref: '#/components/schemas/Logging'
        status:
          type: string
          enum:
            - CREATING
            - ACTIVE
            - DELETING
            - FAILED
            - UPDATING
            - PENDING
          description: The current status of the cluster.
        certificateAuthority:
          type: object
          properties:
            data:
              type: string
              description: The Base64-encoded certificate data.
        platformVersion:
          type: string
          description: The platform version of your Amazon EKS cluster.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Metadata that assists with categorization and organization.

    Nodegroup:
      type: object
      properties:
        nodegroupName:
          type: string
          description: The name of the managed node group.
        nodegroupArn:
          type: string
          description: The Amazon Resource Name (ARN) of the managed node group.
        clusterName:
          type: string
          description: The name of the cluster the node group is associated with.
        version:
          type: string
          description: The Kubernetes version of the managed node group.
        releaseVersion:
          type: string
          description: The AMI version of the managed node group.
        status:
          type: string
          enum:
            - CREATING
            - ACTIVE
            - UPDATING
            - DELETING
            - CREATE_FAILED
            - DELETE_FAILED
            - DEGRADED
          description: The current status of the managed node group.
        capacityType:
          type: string
          enum:
            - ON_DEMAND
            - SPOT
          description: The capacity type of the managed node group.
        scalingConfig:
          $ref: '#/components/schemas/NodegroupScalingConfig'
        instanceTypes:
          type: array
          items:
            type: string
          description: The instance types associated with the managed node group.
        subnets:
          type: array
          items:
            type: string
          description: The subnets that were specified for the Auto Scaling group.
        amiType:
          type: string
          enum:
            - AL2_x86_64
            - AL2_x86_64_GPU
            - AL2_ARM_64
            - BOTTLEROCKET_ARM_64
            - BOTTLEROCKET_x86_64
          description: The AMI type associated with the managed node group.
        nodeRole:
          type: string
          description: The IAM role associated with the managed node group.
        labels:
          type: object
          additionalProperties:
            type: string
          description: The Kubernetes labels applied to the nodes in the node group.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Metadata that assists with categorization and organization.
        createdAt:
          type: string
          format: date-time
          description: The Unix epoch timestamp at object creation.
        modifiedAt:
          type: string
          format: date-time
          description: The Unix epoch timestamp for the last modification.

    FargateProfile:
      type: object
      properties:
        fargateProfileName:
          type: string
          description: The name of the Fargate profile.
        fargateProfileArn:
          type: string
          description: The full Amazon Resource Name (ARN) of the Fargate profile.
        clusterName:
          type: string
          description: The name of the cluster the Fargate profile is associated with.
        status:
          type: string
          enum:
            - CREATING
            - ACTIVE
            - DELETING
            - CREATE_FAILED
            - DELETE_FAILED
          description: The current status of the Fargate profile.
        podExecutionRoleArn:
          type: string
          description: The Amazon Resource Name (ARN) of the pod execution role.
        subnets:
          type: array
          items:
            type: string
          description: The IDs of subnets to launch pods into.
        selectors:
          type: array
          items:
            $ref: '#/components/schemas/FargateProfileSelector'
          description: The selectors to match for pods to use this Fargate profile.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Metadata that assists with categorization and organization.
        createdAt:
          type: string
          format: date-time
          description: The Unix epoch timestamp at object creation.

    Addon:
      type: object
      properties:
        addonName:
          type: string
          description: The name of the add-on.
        addonVersion:
          type: string
          description: The version of the add-on.
        addonArn:
          type: string
          description: The Amazon Resource Name (ARN) of the add-on.
        clusterName:
          type: string
          description: The name of the cluster.
        status:
          type: string
          enum:
            - CREATING
            - ACTIVE
            - CREATE_FAILED
            - UPDATING
            - DELETING
            - DELETE_FAILED
            - DEGRADED
          description: The status of the add-on.
        serviceAccountRoleArn:
          type: string
          description: The Amazon Resource Name (ARN) of the IAM role.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Metadata that assists with categorization and organization.
        createdAt:
          type: string
          format: date-time
          description: The Unix epoch timestamp at object creation.
        modifiedAt:
          type: string
          format: date-time
          description: The Unix epoch timestamp for the last modification.

    VpcConfigResponse:
      type: object
      properties:
        subnetIds:
          type: array
          items:
            type: string
        securityGroupIds:
          type: array
          items:
            type: string
        clusterSecurityGroupId:
          type: string
        vpcId:
          type: string
        endpointPublicAccess:
          type: boolean
        endpointPrivateAccess:
          type: boolean
        publicAccessCidrs:
          type: array
          items:
            type: string

    KubernetesNetworkConfigResponse:
      type: object
      properties:
        serviceIpv4Cidr:
          type: string
        serviceIpv6Cidr:
          type: string
        ipFamily:
          type: string
          enum:
            - ipv4
            - ipv6

    Logging:
      type: object
      properties:
        clusterLogging:
          type: array
          items:
            type: object
            properties:
              types:
                type: array
                items:
                  type: string
                  enum:
                    - api
                    - audit
                    - authenticator
                    - controllerManager
                    - scheduler
              enabled:
                type: boolean

    NodegroupScalingConfig:
      type: object
      properties:
        minSize:
          type: integer
          description: The minimum number of nodes.
        maxSize:
          type: integer
          description: The maximum number of nodes.
        desiredSize:
          type: integer
          description: The current number of nodes.

    FargateProfileSelector:
      type: object
      properties:
        namespace:
          type: string
          description: The Kubernetes namespace that the selector should match.
        labels:
          type: object
          additionalProperties:
            type: string
          description: The Kubernetes labels that the selector should match.

    CreateClusterRequest:
      type: object
      required:
        - name
        - roleArn
        - resourcesVpcConfig
      properties:
        name:
          type: string
          description: The unique name to give to your cluster.
        version:
          type: string
          description: The desired Kubernetes version for your cluster.
        roleArn:
          type: string
          description: The Amazon Resource Name (ARN) of the IAM role.
        resourcesVpcConfig:
          type: object
          properties:
            subnetIds:
              type: array
              items:
                type: string
            securityGroupIds:
              type: array
              items:
                type: string
            endpointPublicAccess:
              type: boolean
            endpointPrivateAccess:
              type: boolean
        kubernetesNetworkConfig:
          type: object
          properties:
            serviceIpv4Cidr:
              type: string
            ipFamily:
              type: string
              enum:
                - ipv4
                - ipv6
        logging:
          $ref: '#/components/schemas/Logging'
        tags:
          type: object
          additionalProperties:
            type: string

    CreateClusterResponse:
      type: object
      properties:
        cluster:
          $ref: '#/components/schemas/Cluster'

    ListClustersResponse:
      type: object
      properties:
        clusters:
          type: array
          items:
            type: string
        nextToken:
          type: string

    DescribeClusterResponse:
      type: object
      properties:
        cluster:
          $ref: '#/components/schemas/Cluster'

    DeleteClusterResponse:
      type: object
      properties:
        cluster:
          $ref: '#/components/schemas/Cluster'

    CreateNodegroupRequest:
      type: object
      required:
        - nodegroupName
        - nodeRole
        - subnets
      properties:
        nodegroupName:
          type: string
        nodeRole:
          type: string
        subnets:
          type: array
          items:
            type: string
        scalingConfig:
          $ref: '#/components/schemas/NodegroupScalingConfig'
        instanceTypes:
          type: array
          items:
            type: string
        amiType:
          type: string
        capacityType:
          type: string
          enum:
            - ON_DEMAND
            - SPOT
        labels:
          type: object
          additionalProperties:
            type: string
        tags:
          type: object
          additionalProperties:
            type: string

    CreateNodegroupResponse:
      type: object
      properties:
        nodegroup:
          $ref: '#/components/schemas/Nodegroup'

    ListNodegroupsResponse:
      type: object
      properties:
        nodegroups:
          type: array
          items:
            type: string
        nextToken:
          type: string

    DescribeNodegroupResponse:
      type: object
      properties:
        nodegroup:
          $ref: '#/components/schemas/Nodegroup'

    DeleteNodegroupResponse:
      type: object
      properties:
        nodegroup:
          $ref: '#/components/schemas/Nodegroup'

    CreateFargateProfileRequest:
      type: object
      required:
        - fargateProfileName
        - podExecutionRoleArn
        - selectors
      properties:
        fargateProfileName:
          type: string
        podExecutionRoleArn:
          type: string
        subnets:
          type: array
          items:
            type: string
        selectors:
          type: array
          items:
            $ref: '#/components/schemas/FargateProfileSelector'
        tags:
          type: object
          additionalProperties:
            type: string

    CreateFargateProfileResponse:
      type: object
      properties:
        fargateProfile:
          $ref: '#/components/schemas/FargateProfile'

    ListFargateProfilesResponse:
      type: object
      properties:
        fargateProfileNames:
          type: array
          items:
            type: string
        nextToken:
          type: string

    DescribeFargateProfileResponse:
      type: object
      properties:
        fargateProfile:
          $ref: '#/components/schemas/FargateProfile'

    DeleteFargateProfileResponse:
      type: object
      properties:
        fargateProfile:
          $ref: '#/components/schemas/FargateProfile'

    CreateAddonRequest:
      type: object
      required:
        - addonName
      properties:
        addonName:
          type: string
        addonVersion:
          type: string
        serviceAccountRoleArn:
          type: string
        resolveConflicts:
          type: string
          enum:
            - OVERWRITE
            - NONE
        tags:
          type: object
          additionalProperties:
            type: string

    CreateAddonResponse:
      type: object
      properties:
        addon:
          $ref: '#/components/schemas/Addon'

    ListAddonsResponse:
      type: object
      properties:
        addons:
          type: array
          items:
            type: string
        nextToken:
          type: string

    DescribeAddonResponse:
      type: object
      properties:
        addon:
          $ref: '#/components/schemas/Addon'

    DeleteAddonResponse:
      type: object
      properties:
        addon:
          $ref: '#/components/schemas/Addon'

tags:
  - name: Clusters
    description: Operations for managing EKS clusters
  - name: Node Groups
    description: Operations for managing EKS managed node groups
  - name: Fargate Profiles
    description: Operations for managing EKS Fargate profiles
  - name: Addons
    description: Operations for managing EKS add-ons
